* {
  margin: 0 auto;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f5f5f5;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 800ms;
}

/* poppins-regular - latin-ext_latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/poppins-v15-latin-ext_latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v15-latin-ext_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v15-latin-ext_latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/poppins-v15-latin-ext_latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/poppins-v15-latin-ext_latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/poppins-v15-latin-ext_latin-regular.svg#Poppins")
      format("svg"); /* Legacy iOS */
}

/* open-sans-regular - latin-ext_latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/open-sans-v26-latin-ext_latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/open-sans-v26-latin-ext_latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v26-latin-ext_latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/open-sans-v26-latin-ext_latin-regular.woff") format("woff"),
    /* Modern Browsers */
      url("../fonts/open-sans-v26-latin-ext_latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v26-latin-ext_latin-regular.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}

h1 {
  font-family: "Poppins";
  font-size: 6.5rem;
  font-weight: bold;
}

h2 {
  font-family: "Poppins";
  font-size: 4.5rem;
  font-weight: bold;
}

p {
  font-family: "Open Sans";
  font-size: 2rem;
  line-height: 1.2;
}

img {
  width: 100%;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#logotop {
  display: flex;
  width: 20%;
  justify-content: center;
}

#infocontent {
  display: flex;
  width: 20%;
  justify-content: center;
  font-family: "Poppins";
}

#topnav {
  width: 100%;
  background: rgb(228, 228, 228);
}

.menunav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

.menunav li {
  padding: 10px 10px 10px 10px;
  font-size: 2rem;
  font-family: "Poppins";
}

.menunav li a:hover {
  color: #000;
  text-decoration: none;
  transition-timing-function: ease-in;
  transition: 500ms;
  font-size: 1.8rem;
}

.menunav li a:active {
  color: #000;
  text-decoration: none;
  transition-timing-function: ease-in;
  transition: 500ms;
}

.menunav li a:visited {
  color: #000;
  text-decoration: none;
  transition-timing-function: ease-in;
  transition: 500ms;
}

.menunav li a:link {
  color: #000;
  text-decoration: none;
  transition-timing-function: ease-in;
  transition: 500ms;
}

.flexdivheader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.flexdivmain {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}

.paddngp {
  padding: 40px 40px 40px 40px;
  display: block;
}

.paddingh1 {
  padding: 20px 20px 20px 20px;
}

.half {
  width: 50%;
}

.topbg {
  background: url(../images/banner.jpg);
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  height: 80vh;
}

.centerflexrow {
  display: flex;
  width: 60%;
  justify-content: center;
}

.rightrow {
  width: 20%;
}

.flip {
  flex-direction: row-reverse !important;
}

@media only screen and (max-width: 915px) {
  #infocontact {
    display: none;
  }

  .menunav {
    display: none;
  }

  .menunav li {
    font-size: 1.2rem;
  }

  .half {
    width: 100%;
  }

  .flexdivmain {
    display: block;
  }

  #logotop {
    justify-content: center;
  }

  h1 {
    margin-bottom: 0px;
  }

  h2 {
    margin-bottom: 0px;
  }

  .paddingh1 {
    text-align: center;
  }

  .paddngp {
    padding: 15px 15px 15px 15px;
    display: block;
  }
}
