* {
  margin: 0 auto;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #f5f5f5;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 800ms;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
}

p {
  font-size: 2rem;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#logotop {
  display: flex;
  width: 20%;
  justify-content: flex-end;
}

#infocontent {
  display: flex;
  width: 20%;
  justify-content: center;
}

#topnav {
  width: 100%;
  background: rgb(228, 228, 228);
}

.menunav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}

.menunav li {
  padding: 10px 10px 10px 10px;
  font-size: 2rem;
}

.menunav li a:hover {
  color: #000;
  text-decoration: none;
  transition-timing-function: ease-in;
  transition: 500ms;
  font-size: 1.8rem;
}

.menunav li a:active {
  color: #000;
  text-decoration: none;
  transition-timing-function: ease-in;
  transition: 500ms;
}

.menunav li a:visited {
  color: #000;
  text-decoration: none;
  transition-timing-function: ease-in;
  transition: 500ms;
}

.menunav li a:link {
  color: #000;
  text-decoration: none;
  transition-timing-function: ease-in;
  transition: 500ms;
}

.flexdiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.fullwidth {
  padding: 40px 40px 40px 40px;
}

.half {
  width: 50%;
}

.topbg {
  background: url(../images/bg_new.jpg);
  background-position: 50% 140%;
  background-attachment: fixed;
  background-size: cover;
  height: 50vh;
}

.centerflexrow {
  display: flex;
  width: 60%;
  justify-content: center;
}

.rightrow {
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .menunav li {
    font-size: 1.2rem;
  }

  .flexdiv {
    display: block;
  }

  .half {
    width: 100%;
  }
}
